/target
.DS_Store
lumaLangCore.code-workspace
history.txt
node_modules
**/node_modules
target
index.node
npm-debug.log*
**/settings/Mainnet.toml
**/settings/Testnet.toml
**/.requirements
**/.cache
**/.build
components/lumaLang-types-js/dist
*.tar.gz
*.zip
*.rdb
*.redb
cache/
LumaLang.toml
**/src/service/tests/fixtures/tmp
**/src/archive/tests/fixtures/tmp